In [473]:
import numpy as np
import pandas as pd
import pickle
import re
import seaborn as sns
from scrape_onerace_fullodds import onerace
# %load_ext autoreload
%autoreload 2
from scrape_odds_func import oddswin
# filename = "data/20220224_hamamatsu_full_odds.pickle"
# with open(filename, mode="rb") as f:
#     races = pickle.load(f)

In [476]:
race = onerace("20220227", "川口", "12")
print(race[0])
race[2][0][0]

['2022/02/27', '川口', 'R12', '予選3100m(6周)', '天候：晴', '走路状況：良走路']

   車番    選手名  単勝オッズ        複勝オッズ   LG  ハンデ  審査  ポイント  試走  タイム  試走  偏差
0   1   松本 渉  165.9  1.6  -  2.6  伊勢崎   0m    52.418     3.44   0.079
1   2   中原 誠   41.3  2.0  -  3.3   飯塚  10m    59.978     3.41   0.076
2   3  丸山　浩信  149.1  2.0  -  3.3   川口  10m    64.737     3.43   0.048
3   4   藤川 竜  155.8  1.6  -  2.6   飯塚  20m    65.309     3.44   0.080
4   5  長谷　晴久  111.0  2.8  -  4.6   浜松  20m    73.726     3.38   0.084
5   6  木山　優輝   55.5  1.6  -  2.6   飯塚  30m    74.998     3.34   0.086
6   7  岩田　裕臣   33.3  1.1  -  1.5   川口  30m    83.802     3.33   0.084
7   8  青山　周平    1.0  1.0  -  1.0  伊勢崎  40m   150.563     3.28   0.113

In [487]:
race = onerace("20220227", "川口", "10")
df = oddswin(race)
cmap = sns.color_palette("ch:s=-.25,rot=.25", as_cmap=True)
df.style.background_gradient(cmap=cmap).set_precision(1)

In [471]:
print(1/((1/1.6)+(1/4.8)))
a = [4,5.3,9,1.]
np.array(sorted(a)[:2])

1.2

array([1., 4.])

In [431]:
win_df = race[2][0][0]
quin_df = race[2][1][-1]
exac_df = race[2][2][-1]
wide_df = race[2][3][-1]
d = {}
for row in win_df.values:
    d[str(row[0]) + "w"] = row[2]
for row in win_df.values:
    d[str(row[0]) + "p1"] = float(row[3].split()[0])
    d[str(row[0]) + "p2"] = float(row[3].split()[2])
for i, row in enumerate(quin_df.iloc[:, 1::2].values):
    for j, value in enumerate(row):
        if not np.isnan(value):
            key = str(j+1) + "-" + str(i+2)
            d[key] = value
for i, row in enumerate(exac_df.values[2:,2:]):
    for j, value in enumerate(row):
        k = str(j+1) + ">" + str(i+1)
        d[k] = float(value)
for i, row in enumerate(wide_df.values):
    for j, value in enumerate(row[1::2]):
        if type(value) == str:
            key = str(j+1) + "=" + str(i+2)
            d[key] = float(value.split()[0])
d

{'1w': 90.8,
 '2w': 6.7,
 '3w': 6.4,
 '4w': 63.5,
 '5w': 9.9,
 '6w': 1.6,
 '7w': 2.5,
 '1p1': 3.8,
 '1p2': 5.2,
 '2p1': 3.8,
 '2p2': 5.2,
 '3p1': 1.5,
 '3p2': 1.9,
 '4p1': 3.8,
 '4p2': 5.2,
 '5p1': 3.8,
 '5p2': 5.2,
 '6p1': 1.1,
 '6p2': 1.3,
 '7p1': 1.5,
 '7p2': 1.9,
 '1-2': 243.9,
 '2-2': 14.6,
 '3-2': 52.2,
 '4-2': 182.9,
 '5-2': 17.4,
 '6-2': 3.0,
 '1-3': 162.6,
 '2-3': 60.9,
 '3-3': 29.2,
 '4-3': 35.7,
 '5-3': 25.6,
 '1-4': 487.9,
 '2-4': 38.5,
 '3-4': 3.1,
 '4-4': 45.7,
 '1-5': 487.9,
 '2-5': 3.9,
 '3-5': 10.0,
 '1-6': 243.9,
 '2-6': 12.0,
 '1-7': 243.9,
 '1>1': nan,
 '2>1': 590.1,
 '3>1': 708.1,
 '4>1': 0.0,
 '5>1': 1180.0,
 '6>1': 221.2,
 '7>1': 354.0,
 '8>1': nan,
 '1>2': 3540.0,
 '2>2': nan,
 '3>2': 32.7,
 '4>2': 252.9,
 '5>2': 90.7,
 '6>2': 4.6,
 '7>2': 25.4,
 '8>2': nan,
 '1>3': 590.1,
 '2>3': 19.1,
 '3>3': nan,
 '4>3': 208.2,
 '5>3': 90.7,
 '6>3': 4.4,
 '7>3': 21.3,
 '8>3': nan,
 '1>4': 0.0,
 '2>4': 95.6,
 '3>4': 107.2,
 '4>4': nan,
 '5>4': 177.0,
 '6>4': 51.3,
 '7>4': 70.8,
 '8>4': nan,
 '1>5': 1770.0,
 '2>5': 61.0,
 '3>5': 59.0,
 '4>5': 221.2,
 '5>5': nan,
 '6>5': 23.4,
 '7>5': 44.8,
 '8>5': nan,
 '1>6': 3540.0,
 '2>6': 8.0,
 '3>6': 13.5,
 '4>6': 131.1,
 '5>6': 57.1,
 '6>6': nan,
 '7>6': 11.2,
 '8>6': nan,
 '1>7': 708.1,
 '2>7': 19.5,
 '3>7': 34.7,
 '4>7': 141.6,
 '5>7': 56.2,
 '6>7': 5.1,
 '7>7': nan,
 '8>7': nan,
 '1>8': nan,
 '2>8': nan,
 '3>8': nan,
 '4>8': nan,
 '5>8': nan,
 '6>8': nan,
 '7>8': nan,
 '8>8': nan,
 '1=2': 239.6,
 '2=2': 3.6,
 '3=2': 2.5,
 '4=2': 42.2,
 '5=2': 2.5,
 '6=2': 1.8,
 '1=3': 114.9,
 '2=3': 19.2,
 '3=3': 2.2,
 '4=3': 9.1,
 '5=3': 7.1,
 '1=4': 514.7,
 '2=4': 10.5,
 '3=4': 1.4,
 '4=4': 22.8,
 '1=5': 127.9,
 '2=5': 1.6,
 '3=5': 2.5,
 '1=6': 57.8,
 '2=6': 4.8,
 '1=7': 70.9}

In [332]:
d={}
for i, row in enumerate(exac_df.values[2:,2:]):
    for j, value in enumerate(row):
        k = str(j+1) + ">" + str(i+1)
        d[k] = float(value)
d

{'1>1': nan,
 '2>1': 548.6,
 '3>1': 121.9,
 '4>1': 121.9,
 '5>1': 548.6,
 '6>1': 91.4,
 '7>1': 87.7,
 '8>1': nan,
 '1>2': 313.5,
 '2>2': nan,
 '3>2': 1097.0,
 '4>2': 1097.0,
 '5>2': 731.5,
 '6>2': 182.8,
 '7>2': 146.3,
 '8>2': nan,
 '1>3': 313.5,
 '2>3': 1097.0,
 '3>3': nan,
 '4>3': 44.7,
 '5>3': 182.8,
 '6>3': 9.8,
 '7>3': 10.9,
 '8>3': nan,
 '1>4': 365.7,
 '2>4': 365.7,
 '3>4': 52.2,
 '4>4': nan,
 '5>4': 313.5,
 '6>4': 9.8,
 '7>4': 10.0,
 '8>4': nan,
 '1>5': 313.5,
 '2>5': 1097.0,
 '3>5': 156.7,
 '4>5': 137.1,
 '5>5': nan,
 '6>5': 129.0,
 '7>5': 75.6,
 '8>5': nan,
 '1>6': 274.3,
 '2>6': 731.5,
 '3>6': 24.3,
 '4>6': 29.2,
 '5>6': 548.6,
 '6>6': nan,
 '7>6': 2.9,
 '8>6': nan,
 '1>7': 199.5,
 '2>7': 243.8,
 '3>7': 23.8,
 '4>7': 28.5,
 '5>7': 365.7,
 '6>7': 2.7,
 '7>7': nan,
 '8>7': nan,
 '1>8': nan,
 '2>8': nan,
 '3>8': nan,
 '4>8': nan,
 '5>8': nan,
 '6>8': nan,
 '7>8': nan,
 '8>8': nan}

In [434]:
w = [itm[1] for itm in d.items() if itm[0][1] == "w"]
idx = range(1, len(w)+1)
sr_w = pd.Series(w, index=idx, name="win")
p1 = [itm[1] for itm in d.items() if itm[0][1:] == "p1"]
sr_p1 = pd.Series(p1, index=idx, name="p1")
p2 = [itm[1] for itm in d.items() if itm[0][1:] == "p2"]
sr_p2 = pd.Series(p2, index=idx, name="p2")
srs=[]
for i in idx:
    keys = [str(j) + ">" + str(i) for j in idx]
    vals = [d[key] for key in keys]
    sr = pd.Series(vals, index=idx, name="exa" + str(i))
    srs.append(sr)
df = pd.DataFrame(srs)
syn, syn2, syn3, syn4 = [], [], [], []
for i in range(len(idx)):
    arr = df.iloc[i,:].values
    nonan_list = arr[~np.isnan(arr)]
    a = [n for n in nonan_list if n != 0.]
    aa = np.array(a)
    a2 = np.array(sorted(a)[:2])
    a3 = np.array(sorted(a)[:3])
    a4 = np.array(sorted(a)[:4])
    o = 1/(1/aa).sum()
    o2 = 1/(1/a2).sum()
    o3 = 1/(1/a3).sum()
    o4 = 1/(1/a4).sum()
    syn.append(round(o, 1))
    syn2.append(round(o2, 1))
    syn3.append(round(o3, 1))
    syn4.append(round(o4, 1))
    
sr_syn = pd.Series(syn, index=idx, name="syna")
sr_syn2 = pd.Series(syn2, index=idx, name="syn2")
sr_syn3 = pd.Series(syn3, index=idx, name="syn3")
sr_syn4 = pd.Series(syn4, index=idx, name="syn4")
# print(keys)
data = [sr_w, sr_p1, sr_p2] + [sr_syn2, sr_syn3, sr_syn4, sr_syn] + srs
df = pd.concat(data, axis=1)
cmap = sns.color_palette("ch:s=-.25,rot=.25", as_cmap=True)
df.style.background_gradient(cmap=cmap).set_precision(1) #.set_properties(**{})
# df.style.applymap(lambda x: "background-color: gray" if x>10.0 else "background-color: none").set_precision(1)
# df

In [402]:
for i in range(len(idx)):
    arr = df.iloc[i,3:].values
    a = arr[~np.isnan(arr)]
    odds = 1/(1/a).sum()
    print(odds)

8.60308416481036
17.139481523627857
1.324863875058689
1.3128679797630847
9.58037300107255
0.5450541844632466
0.5280406556741283

In [380]:
for i in range(len(idx)):
    arr = df.iloc[i,3:].values
    a = arr[~np.isnan(arr)]
    a2 = np.array(sorted(a)[:3])
    odds = 1/(1/a2).sum()
    print(odds)

84.40266268455811
115.48642643334101
9.772672182729286
10.904452437276301
87.75983714894066
1.7407894736842107
1.86368728258947

In [367]:
win_df

   車番     選手名  単勝オッズ        複勝オッズ   LG  ハンデ  審査  ポイント  試走  タイム  試走  偏差
0   1    中野 肇   25.8  3.5  -  4.5   浜松   0m    45.235     3.39   0.074
1   2   本門　延唯   25.8  3.5  -  4.5   飯塚  10m    53.525     3.41   0.121
2   3   千葉　泰将    8.2  1.9  -  2.4  伊勢崎  10m    58.052     3.35   0.095
3   4   今田　真輔    9.7  1.2  -  1.4   浜松  20m    67.618     3.35   0.092
4   5   佐藤　大地    8.6  3.5  -  4.5   浜松  30m    61.084     3.37   0.083
5   6   小林　悠樹    1.8  3.5  -  4.5   浜松  30m    72.161     3.30   0.106
6   7  東小野　正道    2.1  1.4  -  1.7   飯塚  30m    84.468     3.31   0.078

In [78]:
races[0][2][1][2].astype("str").iloc[0,1:].tolist()

['5  - 7', '3.6']

In [87]:
_lst =races[0][2][2][2].astype("str").iloc[0,1:].tolist()
[re.sub("\xa0| ", "", s) for s in _lst]

['5→7', '7.6']

In [86]:
_lst = races[0][2][4][2].astype("str").iloc[0,1:].tolist()
[re.sub("\xa0| ", "", s) for s in _lst]

['4-5-7', '6.2']

In [84]:
races[0][2][5][2].astype("str").iloc[0,1:].tolist()

['7  →  5  →  4', '20.0']

In [96]:
for racer in  entry_df.iloc[:,:].values:
    print(racer[:5])
    print(racer[1].split()[2].split("/")[1].strip("期"))
    print(racer[1].split()[4].split("/")[0])
    print(racer[2][0])

[1 '西 翔子  28歳/35期  V0/0回/V0  ハンナリ/2' '浜  松' '0m  3.41  0.096'
 'B-106  (B-110)  39.813']
35
ハンナリ
浜
[2 '宮地 朗  46歳/25期  V0/0回/V4  チョウキョウシ/1' '飯  塚' '10m  3.47  0.108'
 'B-69  (A-229)  51.694']
25
チョウキョウシ
飯
[3 '戸塚 茂  47歳/25期  V0/0回/V1  オーリァ/1' '浜  松' '20m  3.37  0.097'
 'B-31  (B-36)  56.355']
25
オーリァ
浜
[4 '松尾 学  54歳/22期  V0/0回/V5  ゴブリンＨ３/1' '飯  塚' '20m  3.44  0.061'
 'B-14  (B-2)  57.612']
22
ゴブリンＨ３
飯
[5 '青嶋\u3000裕治  49歳/24期  V0/0回/V4  キックオフ１/1' '浜  松' '20m  3.43  0.078'
 'A-204  (A-217)  61.069']
24
キックオフ１
浜
[6 '斎藤 努  50歳/22期  V0/0回/V4  スカイビート/1' '浜  松' '20m  3.37  0.081'
 'A-195  (A-114)  61.902']
22
スカイビート
浜
[7 '田島\u3000敏徳  56歳/20期  V0/0回/V18  ＤＦ・タートル/1' '飯  塚' '30m  3.36  0.108'
 'B-8  (A-224)  58.296']
20
ＤＦ・タートル
飯
[8 '新村\u3000嘉之  44歳/27期  V0/0回/V9  ハニーハント/1' '飯  塚' '30m  3.40  0.085'
 'B-104  (B-107)  0.000']
27
ハニーハント
飯

In [103]:
a = [[2, 3], [2, 5]]
a[:][0]

[2, 3]