In [1]:
import numpy as np
import pandas as pd
import pickle
import re
import seaborn as sns
#from scrape_onerace_fullodds import onerace
from scrape_fullodds import onerace, odds_dict
# %load_ext autoreload
#%autoreload 2
from scrape_odds_func import oddswin

from pathlib import Path

p_temp = Path("./photos/")
filenames = [p.name.strip(".jpg") for p in p_temp.iterdir() if p.is_file()]
racercode_d = {f.split("_")[1]: f.split("_")[0] for f in filenames}

# filename = "data/20220224_hamamatsu_full_odds.pickle"
# with open(filename, mode="rb") as f:
#     races = pickle.load(f)

In [3]:
race = onerace("20220227", "川口", "12")
print(race[0])
race[2][0][0]

['2022/02/27', '川口', 'R12', '予選3100m(6周)', '天候：晴', '走路状況：良走路']

   車番    選手名  単勝オッズ        複勝オッズ   LG  ハンデ  審査  ポイント  試走  タイム  試走  偏差
0   1   松本 渉  165.9  1.6  -  2.6  伊勢崎   0m    52.418     3.44   0.079
1   2   中原 誠   41.3  2.0  -  3.3   飯塚  10m    59.978     3.41   0.076
2   3  丸山　浩信  149.1  2.0  -  3.3   川口  10m    64.737     3.43   0.048
3   4   藤川 竜  155.8  1.6  -  2.6   飯塚  20m    65.309     3.44   0.080
4   5  長谷　晴久  111.0  2.8  -  4.6   浜松  20m    73.726     3.38   0.084
5   6  木山　優輝   55.5  1.6  -  2.6   飯塚  30m    74.998     3.34   0.086
6   7  岩田　裕臣   33.3  1.1  -  1.5   川口  30m    83.802     3.33   0.084
7   8  青山　周平    1.0  1.0  -  1.0  伊勢崎  40m   150.563     3.28   0.113

In [19]:
dt, place, r = "20220412", "川口", 11
race = onerace(dt, place, str(r))
df = oddswin(race)
cmap = sns.color_palette("ch:s=-.25,rot=.25", as_cmap=True)
df.style.background_gradient(cmap=cmap).set_precision(1)

<ipython-input-19-b57951ebba2c>:5: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  df.style.background_gradient(cmap=cmap).set_precision(1)

In [ ]:
odds_d = odds_dict(dt, place, r)
box = 2, 3, 7
cnb = [(0, 1), (0, 2), (1, 2)]
bets = [str(box[a]) + "=" + str(box[b]) for a, b in cnb]
odds_l = []
for bet in bets:
    odds = odds_d[bet]
    odds_l.append(odds)
    print(bet, ods)

gosei = 1/np.sum(1/np.array(odds_l))
print(gosei)

In [21]:
exacta_df = race[2][2][2]
exacta_df

     0    1      2       3      4      5      6     7       8      9
0  NaN   1着     1着      1着     1着     1着     1着    1着      1着     1着
1   2着  NaN      1       2      3      4      5     6       7      8
2   2着    1    NaN   146.7   62.1   54.2   64.5   5.9   807.3  105.8
3   2着    2   69.4     NaN  174.5  150.2  161.4  56.6  6458.0  307.5
4   2着    3   30.9   174.5    NaN   69.4   97.8  11.8   922.7  179.4
5   2着    4   31.5   208.3   65.2    NaN   57.6   6.6  2152.0   99.3
6   2着    5   33.8   201.8   97.8   40.8    NaN   8.5   358.8   92.2
7   2着    6   10.0   140.4   34.1   16.6   18.0   NaN   293.5   22.1
8   2着    7  195.7  3229.0  339.9  280.8  269.1  92.2     NaN  379.9
9   2着    8   61.5   322.9  129.1   83.8   92.2   5.7   538.2    NaN

In [43]:
odds_d = {}
for i, t in enumerate(exacta_df.itertuples()):
    if i > 1:
        for j, v in enumerate(t[3:]):
            value = float(v)
            if not np.isnan(value):
                s = str(j+1) + "-" + str(i-1)
                odds_d[s] = value
odds_d["2-1"]

146.7

In [64]:
trifs = race[3]
odds_d = {}
for trif in trifs:
    for df in trif[2:]:
        for t in df.itertuples():
            s = "".join(t.車番.replace("→", "-").split())
            odds_d[s] = t.オッズ
odds_d["1-2-3"]

225.7

In [642]:
ua = {"User-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36 Edg/96.0.1054.57"}
from bs4 import BeautifulSoup
import pandas as pd
from pathlib import Path
import re
import requests

def get_dfs(url):
    res = requests.get(url, headers=ua)
    soup = BeautifulSoup(res.content, "html.parser")
    dfs = []
    if soup.find("table"):
        dfs = pd.io.html.read_html(soup.prettify())
    else:
        print(f"it's no table! {url}")
    return dfs

playerdetail = "https://www.oddspark.com/autorace/PlayerDetail.do?playerCd="

p_temp = Path("./photos/")
filenames = [p.name.strip(".jpg") for p in p_temp.iterdir() if p.is_file()]
racercode_d = {f.split("_")[1]: f.split("_")[0] for f in filenames}

def pred(entry_df):
    
    items = [item.replace("\u3000", " ") for item in entry_df.iloc[:,1].values]
    racers = ["".join(item.split()[:2]) for item in items]
    handis = [float(item.split()[0].strip("m"))/1000 for item in entry_df.iloc[:,3].values]

    time_data = []
    for racer, handi in zip(racers, handis):
        url = playerdetail + racercode_d[racer]
        dfs = get_dfs(url)
        df = [df for df in dfs if len(df.columns) == 12][0]
        times = []
        for row in df.itertuples():
            if type(row[7]) == str and row[7][0] == "良" and row[9] != "-":
                if type(row[9]) == str: 
                    time = float(re.sub("再| ","", row[9]))
                else:
                    time = row[9]
            times.append(time)  
        data = np.array(times) + handi
        time_data.append(data)
    
    wins, places = [], []
    for _ in range(8000):
        race_times = [np.random.choice(times) for times in time_data]
        m = min(race_times)
        w_indexes = [i+1 for i, x in enumerate(race_times) if x == m]
        w = np.random.choice(w_indexes)
        race_times[w-1] = 3.5 # dummy
        n = min(race_times)
        p_indexes = [i+1 for i, x in enumerate(race_times) if x == n]
        p = np.random.choice(p_indexes)
        wins.append(w)
        places.append(p)

    w_hist, _  = np.histogram(wins, bins=range(1, len(time_data)+2))
    w_rates = 100 * w_hist / w_hist.sum()
    p_hist, _  = np.histogram(places, bins=range(1, len(time_data)+2))
    p_rates = 100 * p_hist / p_hist.sum()

    res = []
    for i, (w, p) in enumerate(zip(w_rates, p_rates)):
        res.append((i+1, w, p))
        
    return res

[array([3.39, 3.39, 3.39, 3.42, 3.41, 3.41, 3.42, 3.38, 3.39, 3.42, 3.42,
        3.38, 3.38, 3.4 , 3.39, 3.36, 3.37, 3.37, 3.37, 3.39, 3.44, 3.4 ,
        3.4 , 3.4 , 3.38, 3.38, 3.38, 3.37, 3.37, 3.38]),
 array([3.35, 3.37, 3.37, 3.38, 3.34, 3.34, 3.35, 3.35, 3.31, 3.39, 3.34,
        3.34, 3.34, 3.34, 3.33, 3.35, 3.39, 3.37, 3.37, 3.34, 3.35, 3.35,
        3.35, 3.35, 3.34, 3.36, 3.36, 3.36, 3.36, 3.36]),
 array([3.36, 3.33, 3.35, 3.37, 3.31, 3.33, 3.33, 3.33, 3.35, 3.36, 3.39,
        3.39, 3.39, 3.35, 3.35, 3.33, 3.32, 3.38, 3.37, 3.34, 3.34, 3.33,
        3.33, 3.34, 3.34, 3.34, 3.34, 3.33, 3.33, 3.35]),
 array([3.35, 3.33, 3.34, 3.34, 3.33, 3.33, 3.36, 3.36, 3.32, 3.34, 3.35,
        3.35, 3.35, 3.35, 3.35, 3.35, 3.34, 3.32, 3.34, 3.33, 3.34, 3.34,
        3.32, 3.34, 3.34, 3.28, 3.34, 3.32, 3.31, 3.34]),
 array([3.34, 3.34, 3.35, 3.33, 3.34, 3.34, 3.34, 3.34, 3.34, 3.35, 3.34,
        3.32, 3.38, 3.35, 3.36, 3.36, 3.35, 3.31, 3.32, 3.32, 3.33, 3.33,
        3.34, 3.35, 3.33, 3.31, 3.31, 3.32, 3.31, 3.31]),
 array([3.33, 3.31, 3.31, 3.34, 3.33, 3.36, 3.35, 3.32, 3.34, 3.32, 3.32,
        3.32, 3.32, 3.32, 3.35, 3.35, 3.32, 3.32, 3.33, 3.32, 3.34, 3.31,
        3.31, 3.35, 3.33, 3.36, 3.36, 3.31, 3.31, 3.31]),
 array([3.32, 3.33, 3.33, 3.33, 3.39, 3.39, 3.36, 3.35, 3.36, 3.32, 3.35,
        3.33, 3.32, 3.32, 3.34, 3.33, 3.36, 3.35, 3.35, 3.35, 3.35, 3.39,
        3.35, 3.35, 3.38, 3.38, 3.38, 3.36, 3.36, 3.36]),
 array([3.37, 3.33, 3.33, 3.3 , 3.3 , 3.28, 3.31, 3.31, 3.3 , 3.3 , 3.29,
        3.32, 3.32, 3.31, 3.29, 3.33, 3.32, 3.29, 3.31, 3.3 , 3.33, 3.33,
        3.28, 3.29, 3.29, 3.3 , 3.32, 3.33, 3.33, 3.33])]

In [661]:
filename = "data/20220303_isesaki_data.pickle"
with open(filename, mode="rb") as f:
    races = pickle.load(f)

races[0][3]

[(1, 0.925, 2.5375),
 (2, 0.0, 0.0125),
 (3, 9.85, 16.1),
 (4, 7.55, 14.7625),
 (5, 0.5625, 2.9125),
 (6, 9.9625, 16.2875),
 (7, 22.7625, 31.35),
 (8, 48.3875, 16.0375)]

In [591]:
import matplotlib.pyplot as plt
#df["走路  (天候)"], df["競走T"]
times = []
for row in df.itertuples():
    if row[7][0] == "良":
        if type(row[9]) == str: 
            time = float(re.sub("再| ","", row[9]))
        else:
            time = row[9]
        times.append(time)
arr = np.array(times)
print(arr)
arr += 0.01
print(np.random.choice(arr))
# plt.hist(times, bins=10)

[3.37 3.34 3.34 3.34 3.37 3.33 3.33 3.35 3.34 3.38 3.33 3.32 3.31 3.37
 3.32 3.33 3.33 3.32 3.33 3.36 3.34 3.34 3.35 3.33 3.34]
3.34

In [332]:
d={}
for i, row in enumerate(exac_df.values[2:,2:]):
    for j, value in enumerate(row):
        k = str(j+1) + ">" + str(i+1)
        d[k] = float(value)
d

{'1>1': nan,
 '2>1': 548.6,
 '3>1': 121.9,
 '4>1': 121.9,
 '5>1': 548.6,
 '6>1': 91.4,
 '7>1': 87.7,
 '8>1': nan,
 '1>2': 313.5,
 '2>2': nan,
 '3>2': 1097.0,
 '4>2': 1097.0,
 '5>2': 731.5,
 '6>2': 182.8,
 '7>2': 146.3,
 '8>2': nan,
 '1>3': 313.5,
 '2>3': 1097.0,
 '3>3': nan,
 '4>3': 44.7,
 '5>3': 182.8,
 '6>3': 9.8,
 '7>3': 10.9,
 '8>3': nan,
 '1>4': 365.7,
 '2>4': 365.7,
 '3>4': 52.2,
 '4>4': nan,
 '5>4': 313.5,
 '6>4': 9.8,
 '7>4': 10.0,
 '8>4': nan,
 '1>5': 313.5,
 '2>5': 1097.0,
 '3>5': 156.7,
 '4>5': 137.1,
 '5>5': nan,
 '6>5': 129.0,
 '7>5': 75.6,
 '8>5': nan,
 '1>6': 274.3,
 '2>6': 731.5,
 '3>6': 24.3,
 '4>6': 29.2,
 '5>6': 548.6,
 '6>6': nan,
 '7>6': 2.9,
 '8>6': nan,
 '1>7': 199.5,
 '2>7': 243.8,
 '3>7': 23.8,
 '4>7': 28.5,
 '5>7': 365.7,
 '6>7': 2.7,
 '7>7': nan,
 '8>7': nan,
 '1>8': nan,
 '2>8': nan,
 '3>8': nan,
 '4>8': nan,
 '5>8': nan,
 '6>8': nan,
 '7>8': nan,
 '8>8': nan}

In [434]:
w = [itm[1] for itm in d.items() if itm[0][1] == "w"]
idx = range(1, len(w)+1)
sr_w = pd.Series(w, index=idx, name="win")
p1 = [itm[1] for itm in d.items() if itm[0][1:] == "p1"]
sr_p1 = pd.Series(p1, index=idx, name="p1")
p2 = [itm[1] for itm in d.items() if itm[0][1:] == "p2"]
sr_p2 = pd.Series(p2, index=idx, name="p2")
srs=[]
for i in idx:
    keys = [str(j) + ">" + str(i) for j in idx]
    vals = [d[key] for key in keys]
    sr = pd.Series(vals, index=idx, name="exa" + str(i))
    srs.append(sr)
df = pd.DataFrame(srs)
syn, syn2, syn3, syn4 = [], [], [], []
for i in range(len(idx)):
    arr = df.iloc[i,:].values
    nonan_list = arr[~np.isnan(arr)]
    a = [n for n in nonan_list if n != 0.]
    aa = np.array(a)
    a2 = np.array(sorted(a)[:2])
    a3 = np.array(sorted(a)[:3])
    a4 = np.array(sorted(a)[:4])
    o = 1/(1/aa).sum()
    o2 = 1/(1/a2).sum()
    o3 = 1/(1/a3).sum()
    o4 = 1/(1/a4).sum()
    syn.append(round(o, 1))
    syn2.append(round(o2, 1))
    syn3.append(round(o3, 1))
    syn4.append(round(o4, 1))
    
sr_syn = pd.Series(syn, index=idx, name="syna")
sr_syn2 = pd.Series(syn2, index=idx, name="syn2")
sr_syn3 = pd.Series(syn3, index=idx, name="syn3")
sr_syn4 = pd.Series(syn4, index=idx, name="syn4")
# print(keys)
data = [sr_w, sr_p1, sr_p2] + [sr_syn2, sr_syn3, sr_syn4, sr_syn] + srs
df = pd.concat(data, axis=1)
cmap = sns.color_palette("ch:s=-.25,rot=.25", as_cmap=True)
df.style.background_gradient(cmap=cmap).set_precision(1) #.set_properties(**{})
# df.style.applymap(lambda x: "background-color: gray" if x>10.0 else "background-color: none").set_precision(1)
# df

In [402]:
for i in range(len(idx)):
    arr = df.iloc[i,3:].values
    a = arr[~np.isnan(arr)]
    odds = 1/(1/a).sum()
    print(odds)

8.60308416481036
17.139481523627857
1.324863875058689
1.3128679797630847
9.58037300107255
0.5450541844632466
0.5280406556741283

In [380]:
for i in range(len(idx)):
    arr = df.iloc[i,3:].values
    a = arr[~np.isnan(arr)]
    a2 = np.array(sorted(a)[:3])
    odds = 1/(1/a2).sum()
    print(odds)

84.40266268455811
115.48642643334101
9.772672182729286
10.904452437276301
87.75983714894066
1.7407894736842107
1.86368728258947

In [367]:
win_df

   車番     選手名  単勝オッズ        複勝オッズ   LG  ハンデ  審査  ポイント  試走  タイム  試走  偏差
0   1    中野 肇   25.8  3.5  -  4.5   浜松   0m    45.235     3.39   0.074
1   2   本門　延唯   25.8  3.5  -  4.5   飯塚  10m    53.525     3.41   0.121
2   3   千葉　泰将    8.2  1.9  -  2.4  伊勢崎  10m    58.052     3.35   0.095
3   4   今田　真輔    9.7  1.2  -  1.4   浜松  20m    67.618     3.35   0.092
4   5   佐藤　大地    8.6  3.5  -  4.5   浜松  30m    61.084     3.37   0.083
5   6   小林　悠樹    1.8  3.5  -  4.5   浜松  30m    72.161     3.30   0.106
6   7  東小野　正道    2.1  1.4  -  1.7   飯塚  30m    84.468     3.31   0.078

In [78]:
races[0][2][1][2].astype("str").iloc[0,1:].tolist()

['5  - 7', '3.6']

In [87]:
_lst =races[0][2][2][2].astype("str").iloc[0,1:].tolist()
[re.sub("\xa0| ", "", s) for s in _lst]

['5→7', '7.6']

In [86]:
_lst = races[0][2][4][2].astype("str").iloc[0,1:].tolist()
[re.sub("\xa0| ", "", s) for s in _lst]

['4-5-7', '6.2']

In [84]:
races[0][2][5][2].astype("str").iloc[0,1:].tolist()

['7  →  5  →  4', '20.0']

In [96]:
for racer in  entry_df.iloc[:,:].values:
    print(racer[:5])
    print(racer[1].split()[2].split("/")[1].strip("期"))
    print(racer[1].split()[4].split("/")[0])
    print(racer[2][0])

[1 '西 翔子  28歳/35期  V0/0回/V0  ハンナリ/2' '浜  松' '0m  3.41  0.096'
 'B-106  (B-110)  39.813']
35
ハンナリ
浜
[2 '宮地 朗  46歳/25期  V0/0回/V4  チョウキョウシ/1' '飯  塚' '10m  3.47  0.108'
 'B-69  (A-229)  51.694']
25
チョウキョウシ
飯
[3 '戸塚 茂  47歳/25期  V0/0回/V1  オーリァ/1' '浜  松' '20m  3.37  0.097'
 'B-31  (B-36)  56.355']
25
オーリァ
浜
[4 '松尾 学  54歳/22期  V0/0回/V5  ゴブリンＨ３/1' '飯  塚' '20m  3.44  0.061'
 'B-14  (B-2)  57.612']
22
ゴブリンＨ３
飯
[5 '青嶋\u3000裕治  49歳/24期  V0/0回/V4  キックオフ１/1' '浜  松' '20m  3.43  0.078'
 'A-204  (A-217)  61.069']
24
キックオフ１
浜
[6 '斎藤 努  50歳/22期  V0/0回/V4  スカイビート/1' '浜  松' '20m  3.37  0.081'
 'A-195  (A-114)  61.902']
22
スカイビート
浜
[7 '田島\u3000敏徳  56歳/20期  V0/0回/V18  ＤＦ・タートル/1' '飯  塚' '30m  3.36  0.108'
 'B-8  (A-224)  58.296']
20
ＤＦ・タートル
飯
[8 '新村\u3000嘉之  44歳/27期  V0/0回/V9  ハニーハント/1' '飯  塚' '30m  3.40  0.085'
 'B-104  (B-107)  0.000']
27
ハニーハント
飯

In [1]:
import time
print("a")
time.sleep(10)
print("b")

a
b